:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    color:#434455;;
    background: var(--white);
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1158px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    overflow: auto;
}

.container>.item:last-child {
    margin-right: 0;
}

.container>.item:first-child {
    margin-left: 0;
}

.page-header {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
    height: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.head-studio {
    color: var(--navy-blue);
}

.page-logo {
    display: flex; 
    align-items: center; 
    margin-bottom: 25.5px;
    }


.page-logo {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: var(--iris);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
    flex-grow: 1;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item{

}

.page-nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.32px;
    color: var(--navy-blue);
}

.page-nav-link:hover,
.page-nav-link:focus {
    color: var(--ocean); 
}

.page-nav-link {
        display: block;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        line-height: 1,14;
}

.page-nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: transparent;
    margin-top: 20px;
}

.page-nav-link.current::after {
    background-color: var(--OCEAN, #404BBF);
}


.page-address {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.page-address-link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
    font-style: normal;
}

.page-address-link:hover,
.page-address-link:focus {
    color: var(--ocean);
}

.page-address-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        gap: 4px;
    }

.page-main {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
}

.page-main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
}
.page-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 1.12px;
    text-align: center;
    color: var(--white);
    max-width: 500px;
    margin-bottom: 53px;    
}

.title-button{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    border-radius: 4px;
    width: 169px;
    height: 56px;
    border: none;        
}

.title-button .container {
        align-items: flex-start;
        gap: 10px;
        padding: 16px 32px;
}

.title-button:hover,
.title-button:focus {
    background: var(--ocean);
}

.backdrop{
    position: fixed;
        top: 80;
        left: 516;
        width: 408px;
        height: 584px;
        border-radius: 4px;
        background: var(--DAIRY, #FCFCFC);
        z-index: 1050;
        display: flex;
        align-items: center;
        justify-content: center;
}

.is-hidden {
    display: none;  
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop:not(.is-hidden) {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: fixed;
    top: 80;
    left: 516;
    width: 408px;
    height: 584px;
    border-radius: 4px;
    z-index: 1051;
    display: flex;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    fill: var(--CORNFLOWER, #E7E9FC);
}

.close-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: #2E2F42;
    border-radius: 12px;
    top: 24px;
    right: 24px;
}

.page-bloc{
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-bloc .container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.page-bloc-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.page-bloc-wrapper {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--CLOUD, #F4F4FD);
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px; 
}

.section-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

.page-what {
    padding-bottom: 120px;
}

.page-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.page-img-item {
    width: 100%;
    width: calc(100% - 48px);
}

.page-our {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-our-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.page-our-img-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        border-radius: 0px 0px 4px 4px;
        background: var(--WHITE, #FFF);
}

.page-our-wrapper {
    fill: var(--cloud);
}

.social-item{
    
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--iris);
    border-radius: 20px;
}

.social-link:hover,
.social-link:focus {
    background: var(--ocean);
} 

.title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.title-text {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding-bottom: 32px;
        padding-top: 32px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
}

.button-top {
    padding-top: 96px;
    padding-bottom: 72px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 72px;
}

.page-button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--iris);
    background: var(--cloud);
    padding: 12px 24px;
    border: 1px solid #fff;
    cursor: pointer;
}

.page-button:hover,
.page-button:focus {
    background: var(--ocean);
    color: #fff;
}

.grid {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 32px;
    flex-wrap: wrap;
}

.grid-item {
    width: 100%;
    width: calc((100% - 48px)/3);
}

.title-text-grid {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}

.page-customers{
    padding-top: 120px;
    padding-bottom: 120px;
}

.page-customers .container {

}

.page-customers-wrapper{
    width: 168px;
    height: 88px;
}

.page-customers-link{
    display: inline-flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    padding: 12px;
    fill: var(--LIGHT-SLATE, #8E8F99);
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
}

.page-customers-link:hover,
.page-customers-link:focus {
    fill: var(--ocean);
    border: 1px solid var(--ocean);
}

.page-footer{
    background: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-footer .container{
    display: flex;
}

.footer-studio {
    color: #fff;
}

.text-footer{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--cloud);
    width: 264px;
    margin-top: 15px;
}

.page-footer-text{
    display: block;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    line-height: 1, 14;
    margin-left: 540px;
}

.title-footer{
    color: var(--WHITE, #FFF);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--iris);
    border-radius: 20px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background: var(--green);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.item {
    margin-right: 20px;
}

.item:last-child {
    margin-right: 0;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.overlay {
    width: 360px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--IRIS, #4D5AE5);
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
}

.grid-item:hover .overlay,
.grid-item:focus-within .overlay {
    transform: translateY(0);
}
